body{
    margin: 0px;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
/*navbar styling*/
.navbar .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;
}
.navbar{
    /*background-color: crimson;
    /*background-image:url(178115060_475919657058016_3667286448025506055_n.jpg) ;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center right ; */
    position: fixed;
    padding: 30px 0;
    width: 100%;
    font-family: 'Ubuntu', 'sans-serif';
    transition: all 0.3s ease;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;    

}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;


}
.navbar .sticky .logo a span{
    color: #fff;
    
}
.navbar .sticky .menu li a:hover{
   color: #fff;
}
.navbar .sticky {
    padding: 30px 0;
    background: crimson;
}
/* menubtn styling*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 0px 25px;
    transition:  color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;
}
.navbar .sticky .menu li a:hover {
    color: #fff;
}
    /* home section styling*/
    .home {
        display: flex;
        background: url(.///Shekil2.jpg) no-repeat  left ;
        background-size: cover;


       height: 120vh;
       color: black;
       min-height : 500px;
       font-family :'Ubuntu', 'sans-serif';
    }
    .home .max-width{
        margin: auto 0 auto 40px;
    }
    .home .home-content .text-1{
        font-size: 27px;
        margin: 5px 0px;
    }
    .home .home-content .text-2{
        font-size: 75px;
        font-weight: 600;
        margin:0px 0px 0px -3px;
    }
    .home .home-content .text-3
    {
        font-size: 40px;
        margin: 5px 0px;
    }

    .home .home-content .text-3 span{
color: crimson;
font-weight: 500;
    }
    
.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size:  25px;
    padding: 12px 36px;
    margin: 20px 0px 0px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all;
}

.home .home-content a:hover 
{
color: #fff;
background: none;
}
a{
    color: #DC144C;
    padding: 13px 22px;
    font-family: sans-serif;
    border:1 px solid crimson;
}